<h1>處理中……</h1>

<form action="<%= Allpay.client.api_host %>/Cashier/AioCheckOut" method="post" style="display: none">
  <% @params.each do |key, value| %>
    <input type="text" name="<%= key %>" value="<%= value %>" >
  <% end %>
  <input type="submit">
</form>
<script>document.forms[0].submit()</script>