<h1>腦袋有動雜貨店</h1>
<table>
  <thead>
    <tr>
      <th>名稱</th>
      <th>簡介</th>
      <th>價錢</th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
    <tr>
      <td><%= product.name %></td>
      <td><%= product.description %></td>
      <td><%= product.price %></td>
    </tr>
    <% end %>
  </tbody>
</table>
